
# jjavcfixes
# fix1 - avc: denied { execute_no_trans } for path="/system/bin/sh" dev="mmcblk0p23" ino=729 scontext=u:r:init:s0 tcontext=u:object_r:shell_exec:s0 tclass=file permissive=0

allow init shell_exec:file {execute_no_trans};

# fix2 - avc: denied { setattr } for name="0" dev="mmcblk0p25" ino=130050 scontext=u:r:vold:s0 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0

allow vold rootfs:dir {setattr};


# fix3 - avc: denied { write } for name="0" dev="mmcblk0p25" ino=520194 scontext=u:r:vold:s0 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0

allow vold rootfs:dir {write};


# fix4 - avc: denied { write } for name="0" dev="mmcblk0p25" ino=520194 scontext=u:r:mediaprovider:s0:c512,c768 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0

allow mediaprovider rootfs:dir {write};


# fix5 - avc: denied { read open } for name="0" dev="mmcblk0p25" ino=520194 scontext=u:r:mediaprovider:s0:c512,c768 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0

allow mediaprovider rootfs:dir {read open};


# fix6 - avc:  denied { write } for comm=4173796E635461736B202333 name="0" dev="mmcblk0p25" ino=520194 scontext=u:r:snap_app:s0:c512,c768 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0

#allow snap_app rootfs:dir {write};


# fix7 - avc: denied { read write } for pid=323 comm="qmuxd" name="smdcntl0" dev="tmpfs" ino=6623 scontext=u:r:qmuxd:s0 tcontext=u:object_r:radio_device:s0 tclass=chr_file permissive=0

allow qmuxd radio_device:chr_file {read write};


# fix8 - avc: denied { read write } for pid=10047 comm="hci_qcomm_init" name="smd3" dev="tmpfs" ino=7418 scontext=u:r:bluetooth_loader:s0 tcontext=u:object_r:hci_attach_dev:s0 tclass=chr_file permissive=0
#avc: denied { open } for pid=7973 comm="hci_qcomm_init" name="smd3" dev="tmpfs" ino=7418 scontext=u:r:bluetooth_loader:s0 tcontext=u:object_r:hci_attach_dev:s0 tclass=chr_file permissive=0

allow bluetooth_loader hci_attach_dev:chr_file {open read write ioctl};


# fix9 - avc: denied { open } for pid=330 comm="qmuxd" name="smdcntl0" dev="tmpfs" ino=6631 scontext=u:r:qmuxd:s0 tcontext=u:object_r:radio_device:s0 tclass=chr_file permissive=0

allow qmuxd radio_device:chr_file {open};

# fix9 - avc: denied { open } for pid=330 comm="qmuxd" name="smdcntl0" dev="tmpfs" ino=6631 scontext=u:r:qmuxd:s0 tcontext=u:object_r:radio_device:s0 tclass=chr_file permissive=0

allow qmuxd radio_device:chr_file {open};


# fix10{ read write }-11{ open }-12{ ioctl } - avc: denied { read write } for pid=8111 comm="mm-qcamera-daem" name="video0" dev="tmpfs" ino=5607 scontext=u:r:mm-qcamerad:s0 tcontext=u:object_r:camera_device:s0 tclass=chr_file permissive=0

allow mm-qcamerad camera_device:chr_file {open read write ioctl};


# Stock SM-G386W Qcom init scripts
allow rootfs shell_exec:file rx_file_perms;

# pds backup and restorecon
allow shell camera_data_file:dir getattr;
allow persist_file rootfs:filesystem associate;
